{{! <div class="b-playlist"> }}
<div class="b-playlist-form js-playlist-form g-hidden">
    <div class="b-input b-input_100">
        <input class="b-input__text" name="title" type="text" placeholder="Title" value="{{title}}"/>
    </div>
    <div class="b-input b-input_100">
        <textarea class="b-input__area" name="description" placeholder="Description">{{description}}</textarea>
    </div>
    <div class="b-input">
        <button class="b-input__button js-playlist-edit">Edit</button>
        <button class="b-input__button js-playlist-remove">Remove</button>
    </div>
</div>
<ol class="b-playlist__tracks">
    {{#each tracks}}
    <li class="b-track js-track">
        <span class="b-track__remove js-track-remove">×</span>
        <span class="b-track__artwork">
            {{#if this.artwork_url}}
            <img class="b-track__artwork__pic" src="{{this.artwork_url}}"/>
            {{else}}
            <span class="b-track__artwork__placeholder"></span>
            {{/if}}
            <span class="b-sc-button b-sc-button_play js-track-play"></span>
            <span class="b-sc-button b-sc-button_pause js-track-pause"></span>
        </span>
        <span class="b-track__author">{{this.user.username}}</span>
        <span class="b-track__title">{{this.title}}</span>
    </li>
    {{/each}}
</ol>
{{! </div> }}
