{{! <div class="b-playlist"> }}
<!--
<span class="b-playlist__title">{{title}}</span>
<span class="b-playlist__description">{{description}}</span>
-->
<div class="b-playlist__tracks">
    <ol class="b-playlist__tracks__i">
        {{#each tracks}}
        <li class="b-track">
            <span class="b-track__remove js-track-remove">×</span>
            <span class="b-track__artwork">
                {{#if this.artwork_url}}
                <img class="b-track__artwork__pic" src="{{this.artwork_url}}"/>
                {{else}}
                <span class="b-track__artwork__placeholder"></span>
                {{/if}}
                <span class="b-sc-button b-sc-button_play"></span>
                <span class="b-sc-button b-sc-button_pause"></span>
            </span>
            <span class="b-track__author">{{this.user.username}}</span>
            <span class="b-track__title">{{this.title}}</span>
        </li>
        {{/each}}
    </ol>
</div>
{{! </div> }}
