{{! <div class="b-playlist"> }}
<!--
<span class="b-playlist__title">{{title}}</span>
<span class="b-playlist__description">{{description}}</span>
-->
<div class="b-playlist__tracks">
    <ol class="b-playlist__tracks__i">
        {{#each tracks}}
        <li class="b-track">
            {{#if this.artwork_url}}
            <img class="b-track__artwork" src="{{this.artwork_url}}"/>
            {{/if}}
            <span class="b-track__author">{{this.user.username}}</span>
            <span class="b-track__title">{{this.title}}</span>
        </li>
        {{/each}}
    </ol>
</div>
{{! </div> }}
